<h1><%= @restaurant.name %></h1>

<h4><%= @restaurant.category %> Restaurant</h2>
<br>

<h4>Address:</h4>
<p><%= @restaurant.address %></p>
<p>Phone number: <em><%= @restaurant.phone_number %></em> </p>
<br>

<!-- Add 'Add Review' button after defining path -->
<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-success"%>
<%= link_to "Back to main list", restaurants_path, class: "btn btn-primary" %>

<br>
<br>
<h4>Reviews</h4>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= "â­ï¸"*review.rating %> - <%= review.content %></li>
  <% end %>
</ul>
